# Allocation Algorithm 1

> **1.** For each EI in list, assign the child that is closest to that EI along with any other children also at that address.

> **2.** Remove all of the children at that location from the list of available children.

> **3.** After each iteration through the EIs, pull the number of children each EI has assigned to them.  All of the EIs that have the lowest number of children in the list are fed into the next iteration of EIs for assignment to ensure all the EIs have a mostly even number of children for a balanced dataset.

> **4.** Continue this process until all children have been assigned to an EI

> **5.** Update MySQL table locationdataalgo1

In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
connection = mysql.connector.connect(
            host = "localhost",
            port = 3306,
            user = 'root',
            database = "expandinghorizons",
            password = "dB79@dG2024!"
)
    
cursor = connection.cursor()

In [3]:
query = ("UPDATE child "
         "SET assigned = 0")
cursor.execute(query)

In [4]:
query = ("SELECT ei_id FROM ei "
         "WHERE ei_id != '65d75e28e09e67e025e8cd3c'")
cursor.execute(query)

ei_ids = cursor.fetchall()

for row in ei_ids:
    print(row[0])

65d75a2ce09e67e025e8cd30
65d75bb0e09e67e025e8cd31
65d75c59e09e67e025e8cd32
65d75c87e09e67e025e8cd33
65d75cb9e09e67e025e8cd34
65d75ce1e09e67e025e8cd35
65d75d08e09e67e025e8cd36
65d75d4ce09e67e025e8cd37
65d75d80e09e67e025e8cd38
65d75da9e09e67e025e8cd39
65d75dd5e09e67e025e8cd3a
65d75dfae09e67e025e8cd3b

In [5]:
column_names = ['ei_id']

# Create DataFrame
eiDF = pd.DataFrame(ei_ids, columns=column_names)
eiDF["assignment_count"] = ""
print(eiDF)

                       ei_id assignment_count
0   65d75a2ce09e67e025e8cd30
1   65d75bb0e09e67e025e8cd31
2   65d75c59e09e67e025e8cd32
3   65d75c87e09e67e025e8cd33
4   65d75cb9e09e67e025e8cd34
5   65d75ce1e09e67e025e8cd35
6   65d75d08e09e67e025e8cd36
7   65d75d4ce09e67e025e8cd37
8   65d75d80e09e67e025e8cd38
9   65d75da9e09e67e025e8cd39
10  65d75dd5e09e67e025e8cd3a
11  65d75dfae09e67e025e8cd3b

In [6]:
query = ("SELECT child_id from child")
cursor.execute(query)

child_ids = cursor.fetchall()

for row in child_ids:
    print(row[0])

65d76430e09e67e025e8cd43
65d764dde09e67e025e8cd44
65d766f6e09e67e025e8cd45
65d76799e09e67e025e8cd46
65d76829e09e67e025e8cd47
65d76956e09e67e025e8cd48
65d769fde09e67e025e8cd49
65d76b1ee09e67e025e8cd4a
65d76bb7e09e67e025e8cd4b
65d76c25e09e67e025e8cd4c
65d76ca3e09e67e025e8cd4d
65d76d38e09e67e025e8cd4e
65d76dcae09e67e025e8cd4f
65d76e6de09e67e025e8cd50
65d76f01e09e67e025e8cd51
65d76f7ae09e67e025e8cd52
65d76ff5e09e67e025e8cd53
65d77069e09e67e025e8cd54
65d770fde09e67e025e8cd55
65d771a3e09e67e025e8cd5a
65d7725be09e67e025e8cd5b
65d772ffe09e67e025e8cd5c
65d773a1e09e67e025e8cd5d
65d77c78e09e67e025e8cd5e
65d77d33e09e67e025e8cd5f
65d77ed6e09e67e025e8cd60
65d77f4de09e67e025e8cd61
65d77fdce09e67e025e8cd62
65d78068e09e67e025e8cd63
65d780cee09e67e025e8cd64
65d78173e09e67e025e8cd65
65d78213e09e67e025e8cd66
65d782a0e09e67e025e8cd67
65d7830de09e67e025e8cd68
65d78390e09e67e025e8cd69
65d7842ee09e67e025e8cd6a
65d78493e09e67e025e8cd6b
65d7852de09e67e025e8cd6c
65d785dee09e67e025e8cd6d
65d7864fe09e67e025e8cd6e
65d786e0e09e67e025e8cd6f
65d78775e09e67e025e8cd70
65d787f5e09e67e025e8cd71
65d7886ae09e67e025e8cd72
65d788d6e09e67e025e8cd73
65d89f0de09e67e025e8cd74
65d8b217e09e67e025e8cd75
65d8b2bce09e67e025e8cd76
65d8b327e09e67e025e8cd77
65d8b3f9e09e67e025e8cd78
65d8b4e2e09e67e025e8cd79
65d8b5cae09e67e025e8cd7a
65d8b679e09e67e025e8cd7b
65d8b6f8e09e67e025e8cd7c
65d8b770e09e67e025e8cd7d
65d8b7d1e09e67e025e8cd7e
65d8b845e09e67e025e8cd7f
65d8b8b7e09e67e025e8cd80
65d8b945e09e67e025e8cd81
65d8b9c0e09e67e025e8cd82
65d8ba3ae09e67e025e8cd83
65d8baa4e09e67e025e8cd84
65d8bb48e09e67e025e8cd85
65d8bc1ee09e67e025e8cd86
65d8bcaae09e67e025e8cd87
65d8bd34e09e67e025e8cd88
65d8bdb5e09e67e025e8cd89
65d8be2ae09e67e025e8cd8a
65d8bec4e09e67e025e8cd8b
65d8bf9ce09e67e025e8cd8c
65d8c01ee09e67e025e8cd8d
65d8c087e09e67e025e8cd8e
65d8c149e09e67e025e8cd8f
65d8c1c1e09e67e025e8cd90
65d8c240e09e67e025e8cd91
65d8c2bde09e67e025e8cd92
65d8c331e09e67e025e8cd93
65d8c3ace09e67e025e8cd94
65d8c44ee09e67e025e8cd95
65d8c4cde09e67e025e8cd96
65d8c532e09e67e025e8cd97
65d8c590e09e67e025e8cd98
65d8c627e09e67e025e8cd99
65d8c6f1e09e67e025e8cd9a
65d8c9a4e09e67e025e8cd9b
65d8ca17e09e67e025e8cd9c
65d8cacce09e67e025e8cd9d
65d8cb39e09e67e025e8cd9e
65d8cbcee09e67e025e8cd9f
65d8cc36e09e67e025e8cda0
65d8ccefe09e67e025e8cda1
65d8cd61e09e67e025e8cda2
65d8cddbe09e67e025e8cda3
65d8ce46e09e67e025e8cda4
65d8ceb4e09e67e025e8cda5
65d8cf15e09e67e025e8cda6
65d8cf94e09e67e025e8cda7
65d8cff4e09e67e025e8cda8
65d8d05fe09e67e025e8cda9
65d8d0bee09e67e025e8cdaa
65d8d17be09e67e025e8cdab
65d8d1dae09e67e025e8cdac
65d8d255e09e67e025e8cdad
65d8d32ae09e67e025e8cdae
65d8d3f8e09e67e025e8cdaf
65d8d451e09e67e025e8cdb0
65d8d4b3e09e67e025e8cdb1
65d8d56ae09e67e025e8cdb2
65d8d5dbe09e67e025e8cdb3
65d8d66de09e67e025e8cdb4
65d8d6d9e09e67e025e8cdb5
65d8d732e09e67e025e8cdb6
65d8d7c4e09e67e025e8cdb7
65d8d81ee09e67e025e8cdb8
65d8d897e09e67e025e8cdb9
65d8d8fee09e67e025e8cdba
65d8d962e09e67e025e8cdbb
65d8d9bce09e67e025e8cdbc
65d8da66e09e67e025e8cdbd
65d8dabde09e67e025e8cdbe
65d8db3ce09e67e025e8cdbf
65d8db8fe09e67e025e8cdc0
65e5c8f938f826f292671fe9
65e5ca5838f826f292671fea
65e5cae438f826f292671feb
65e5cb8538f826f292671fec
65e5cc1b38f826f292671fed
65e5cc7f38f826f292671fee
65e5cd3c38f826f292671fef
65e5cdba38f826f292671ff0
65e5ce6238f826f292671ff1
65e5cef438f826f292671ff2
65e5cfc338f826f292671ff3
65e5d02938f826f292671ff4
65e5d0cf38f826f292671ff5
65e5d15e38f826f292671ff6
65e5d23538f826f292671ff7
65e5d29138f826f292671ff8
65e5d32138f826f292671ff9
65e5d38f38f826f292671ffa
65e5d41e38f826f292671ffb
65e5d4d238f826f292671ffc
65e5d57838f826f292671ffd
65e5d5d038f826f292671ffe
65e5d62e38f826f292671fff
65e5d6b638f826f292672000
65e5d71c38f826f292672001
65e5d77e38f826f292672002
65e5d81138f826f292672003
65e5d87138f826f292672004
65e5d8f938f826f292672005
65e5d95538f826f292672006
65e5d9ad38f826f292672007
65e5da5138f826f292672008
65e5daec38f826f292672009
65e5db4d38f826f29267200a
65e5db9f38f826f29267200b
65e5dbff38f826f29267200c
65e5dc4f38f826f29267200d
65e5dcbc38f826f29267200e
65e5dd2b38f826f29267200f
65e5dd8a38f826f292672010
65e5dded38f826f292672011
65e5dec738f826f292672012
65e5df2638f826f292672013
65e5df8638f826f292672014
65e5e03138f826f292672016
65e5e0b738f826f292672017
65e5e11438f826f292672018
65e5e1d638f826f292672019
65e5e28638f826f29267201a
65e5e2dc38f826f29267201b
65e5e3c238f826f29267201c
65e5e58338f826f29267201d
65e5e60a38f826f29267201e
65e5e69338f826f29267201f
65e5e6f638f826f292672020
65e5e76038f826f292672021
65e5fcaa38f826f292672022
65e5fd0e38f826f292672023
65e5fd6538f826f292672024
65e5fe7438f826f292672025
65e5ff2d38f826f292672026
65e5ff9838f826f292672027
65e5ffef38f826f292672028
65e6004638f826f292672029
65e6009738f826f29267202a
65e601b138f826f29267202b
65e6021338f826f29267202c
65e6027b38f826f29267202d
65e602f838f826f29267202e
65e6038938f826f29267202f
65e603f238f826f292672030
65e6044938f826f292672031
65e6049b38f826f292672032
65ef076606e0a866af56d202

In [7]:
def runAlgo1(ei_ids, eiDF):
    for ei in ei_ids:
        query = ("Select ld.child_id_1, ld.ei_id_1, ld.assigned, ld.driving_distance, ld.driving_time, child.Longitude, child.Latitude, child.assigned from locationdataalgo1 ld "
                 "join child on child.child_id=ld.child_id_1 "
                 f"where ld.child_id_2 is null and ld.ei_id_2 is null and child.assigned = 0 and ei_id_1 = '{ei}' "
                 "order by driving_distance asc")
        cursor.execute(query)
        ei_data = cursor.fetchall()

        for child in ei_data:
            print(child)
            print(child[5])
            print(child[6])
            longitude = child[5]
            latitude = child[6]
            break

        updateQuery = ("UPDATE locationdataalgo1 ld "
                       "JOIN child on ld.child_id_1 = child.child_id " 
                       f"SET ld.assigned = 1, child.assigned = 1 " 
                       f"WHERE child.longitude = {longitude} and child.latitude = {latitude} and ld.ei_id_1 = '{ei}'")
        cursor.execute(updateQuery)
        connection.commit()
        print("Update query pushed")

    countQuery = ("Select ei_id_1, count(*) from locationdataalgo1 "
                  "where assigned = 1 "
                  "group by ei_id_1")
    cursor.execute(countQuery)
    countByEI = cursor.fetchall()

    for ei_count in countByEI:
        eiDF.loc[eiDF['ei_id'] == ei_count[0], 'assignment_count'] = ei_count[1]
    print(eiDF)

    min_count = eiDF['assignment_count'].min()
    ei_ids_with_min_count = eiDF.loc[eiDF['assignment_count'] == min_count, 'ei_id'].tolist()
    print(ei_ids_with_min_count)
    
    return ei_ids_with_min_count, eiDF

In [8]:
minEIs, eiDF = runAlgo1(ei_ids, eiDF)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '65d75a2ce09e67e025e8cd30',)' order by driving_distance asc' at line 1

In [ ]:
print(type(ei_ids))
print(type(minEIs))
print(ei_ids[0])
print(minEIs[0])

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
minEIs, eiDF = runAlgo1(minEIs, eiDF)

In [ ]:
cursor.close()
connection.close()