# Allocation Algorithm 8

> **1.** Create a list of dataframes.  Each dataframe consists of an EI and all the children assigned to that EI in the real data

> **2.** Create a cluster center with is an average of these values for each dataframe

> **3.** Assign children to clusters. Children are in order based on the z-score of their distance to their closest EI in ascending order (Largest deviation to smallest deviation).  After an EI has 17 children, no more children are assigned to them to create somewhat even distribution

> **4.** Push allocation to MySQL table locationdataalgo6

In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
connection = mysql.connector.connect(
            host = "localhost",
            port = 3306,
            user = 'root',
            database = "expandinghorizons",
            password = "dB79@dG2024!"
)
    
cursor = connection.cursor()

query = ("Select ei_id, longitude, latitude from ei "
         "WHERE ei_id != '65d75e28e09e67e025e8cd3c'")
cursor.execute(query)

ei_ids = cursor.fetchall()

eiDFs = []

for ei in ei_ids:
    ei_group_list = []
    data = {}
    data["id"] = ei[0]
    data["longitude"] = ei[1]
    data["latitude"] = ei[2]
    ei_child_query = ("SELECT child_id_1, ei_id_1, driving_distance, driving_time "
                      "FROM locationdata "
                      f"WHERE ei_id_1 = '{ei[0]}' AND child_id_2 IS NULL AND ei_id_2 IS NULL")
    cursor.execute(ei_child_query)
    ei_child = cursor.fetchall()
    
    for row2 in ei_child:
        # Add columns with prefixes
        data[f'{row2[0]}_distance'] = row2[2]
        data[f'{row2[0]}_time'] = row2[3]
        
    ei1_ei_query = ("SELECT ei_id_1, ei_id_2, driving_distance, driving_time "
                    "FROM locationdata "
                    f"WHERE ei_id_1 = '{ei[0]}' AND child_id_1 is NULL and child_id_2 is NULL")
    cursor.execute(ei1_ei_query)
    ei1_ei = cursor.fetchall()
    
    for row3 in ei1_ei:
        data[f'{row3[1]}_distance'] = row3[2]
        data[f'{row3[1]}_time'] = row3[3]
    
    ei_ei2_query = ("SELECT ei_id_1, ei_id_2, driving_distance, driving_time "
                    "FROM locationdata "
                    f"WHERE ei_id_2 = '{ei[0]}' AND child_id_1 is NULL and child_id_2 is NULL")
    cursor.execute(ei_ei2_query)
    ei_ei2 = cursor.fetchall()
    
    for row4 in ei_ei2:
        data[f'{row4[0]}_distance'] = row4[2]
        data[f'{row4[0]}_time'] = row4[3]
        
    ei_group_list.append(data)
    
    childQuery = ("SELECT child.child_id, child.longitude, child.latitude FROM locationdatareal ld "
                  "join child on child.child_id = ld.child_id_1 "
                  f"where child_id_2 is null and ei_id_2 is null and ld.assigned = 1 and ei_id_1 = '{ei[0]}'")
    
    cursor.execute(childQuery)
    assignedChild = cursor.fetchall()
    
    for child in assignedChild:
        data = {}
        data["id"] = child[0]
        data["longitude"] = child[1]
        data["latitude"] = child[2]
        child1_child_query = ("SELECT child_id_1, child_id_2, driving_distance, driving_time "
                              "FROM locationdata "
                              f"WHERE child_id_1 = '{child[0]}' AND ei_id_1 IS NULL AND ei_id_2 IS NULL")
        cursor.execute(child1_child_query)
        child1_child = cursor.fetchall()

        for row2 in child1_child:
            # Add columns with prefixes
            data[f'{row2[1]}_distance'] = row2[2]
            data[f'{row2[1]}_time'] = row2[3]

        child_child2_query = ("SELECT child_id_1, child_id_2, driving_distance, driving_time "
                              "FROM locationdata "
                              f"WHERE child_id_2 = '{child[0]}' AND ei_id_1 IS NULL AND ei_id_2 IS NULL")
        cursor.execute(child_child2_query)
        child_child2 = cursor.fetchall()

        for row3 in child_child2:
            data[f'{row3[0]}_distance'] = row3[2]
            data[f'{row3[0]}_time'] = row3[3]

        child_ei_query = ("SELECT child_id_1, ei_id_1, driving_distance, driving_time "
                          "FROM locationdata "
                          f"WHERE child_id_1 = '{child[0]}' AND child_id_2 IS NULL AND ei_id_2 IS NULL")
        cursor.execute(child_ei_query)
        child_ei = cursor.fetchall()

        for row4 in child_ei:
            data[f'{row4[1]}_distance'] = row4[2]
            data[f'{row4[1]}_time'] = row4[3]

        ei_group_list.append(data)
    eiDataFrame = pd.DataFrame(ei_group_list)
    eiDataFrame = eiDataFrame.fillna(0)
    eiDFs.append(eiDataFrame)

In [3]:
clusterCenters = pd.DataFrame()
for df in eiDFs:
    id_value = df.loc[0, "id"]
    df = df.drop(columns=["id"])
    #print(df)
    new_row = df.mean()
    new_row["id"] = id_value
    new_row["assignment_count"] = 0
    new_row = new_row.to_frame()
    new_row = new_row.transpose()
    clusterCenters = pd.concat([clusterCenters, new_row], ignore_index = True)

print(clusterCenters)

    longitude   latitude 65d8d05fe09e67e025e8cda9_distance  \
0  -82.379945  36.347119                            26.851
1  -82.092944  36.536099                          55.14825
2  -82.970359  36.278992                          29.13344
3   -82.47012   36.30504                         20.892373
4  -81.876901  36.457192                           61.6301
5  -82.572813  36.533388                         45.247069
6  -82.822728  36.467722                         43.196948
7  -82.605034  36.252508                         14.238766
8  -82.219225  36.557028                         49.248005
9   -82.27384  36.344158                           31.4583
10 -82.197074  36.357603                         40.100368
11 -82.550778  36.526778                         39.698178

   65d8d05fe09e67e025e8cda9_time 65d8d732e09e67e025e8cdb6_distance  \
0                      37.415495                         26.511084
1                      69.944883                         14.725917
2                       41.73416                         61.446027
3                      30.700874                           31.5502
4                      86.490483                         31.585075
5                      55.851219                          31.61565
6                      58.936265                         48.469174
7                      21.620667                         40.993035
8                      64.533168                          7.749546
9                      44.582215                         28.572185
10                     55.271564                         26.158544
11                     53.673987                         27.214061

   65d8d732e09e67e025e8cdb6_time 65d8d7c4e09e67e025e8cdb7_distance  \
0                      37.547747                         26.511084
1                      25.242397                         14.725917
2                      70.206427                         61.446027
3                      44.093116                           31.5502
4                      52.911133                         31.585075
5                      40.387906                          31.61565
6                      58.421891                         48.469174
7                      54.260071                         40.993035
8                      13.613019                          7.749546
9                      40.755908                         28.572185
10                     36.857535                         26.158544
11                     36.608309                         27.214061

   65d8d7c4e09e67e025e8cdb7_time 65d8bec4e09e67e025e8cd8b_distance  \
0                      37.547747                         44.556353
1                      25.242397                         63.735383
2                      70.206427                          19.04025
3                      44.093116                         44.243826
4                      52.911133                         86.772958
5                      40.387906                         25.284337
6                      58.421891                         14.074231
7                      54.260071                         37.481059
8                      13.613019                           52.2385
9                      40.755908                         53.243031
10                     36.857535                          58.79478
11                     36.608309                         26.689804

   65d8bec4e09e67e025e8cd8b_time  ... 65d75d4ce09e67e025e8cd37_distance  \
0                      54.863295  ...                          8.251203
1                        75.8722  ...                         34.708433
2                      31.598308  ...                          40.81122
3                      56.668395  ...                          6.265804
4                     105.423033  ...                         47.883117
5                      33.990125  ...                         24.575038
6                      21.618665  ...                         38.108039
7                      54.692441  ...                         11.930756
8                         63.572  ...                         29.662163
9                      66.302792  ...                         14.365905
10                     72.095288  ...                         22.902031
11                     36.598117  ...                         22.969196

   65d75d4ce09e67e025e8cd37_time 65d75d80e09e67e025e8cd38_distance  \
0                      15.400622                         31.220642
1                      47.129533                         17.815203
2                       50.62992                         59.083513
3                      11.750603                         36.205705
4                        70.3515                         39.359633
5                      31.678038                           29.2479
6                      48.586357                         45.911883
7                      17.467658                         43.092165
8                      40.955174                          7.433894
9                      25.076855                         34.101292
10                     36.450844                         26.527048
11                     30.062139                           24.8283

   65d75d80e09e67e025e8cd38_time 65d75da9e09e67e025e8cd39_distance  \
0                      36.358953                          6.830931
1                      26.067413                         32.758858
2                      63.774147                         46.093827
3                      41.889774                         10.637492
4                      56.184192                           38.3073
5                      34.128662                         25.698075
6                      51.825313                         41.919604
7                      49.774876                         19.250746
8                       12.57798                         26.734363
9                      41.679192                         11.312027
10                     38.366556                         18.744558
11                     30.015226                          24.52583

   65d75da9e09e67e025e8cd39_time 65d75a2ce09e67e025e8cd30_distance  \
0                      11.409306                          5.621147
1                      40.835567                         31.606157
2                      56.363667                           44.1713
3                      17.028902                          9.180453
4                      56.645808                          40.04035
5                      29.406139                          23.47793
6                      47.874026                         39.430983
7                      27.237041                         17.979091
8                      36.511511                         24.378026
9                      19.000762                         11.897255
10                     27.397374                         18.693104
11                     28.427204                          22.07553

   65d75a2ce09e67e025e8cd30_time                        id assignment_count
0                      11.083366  65d75a2ce09e67e025e8cd30                0
1                        41.7229  65d75bb0e09e67e025e8cd31                0
2                       54.59888  65d75c59e09e67e025e8cd32                0
3                      15.768588  65d75c87e09e67e025e8cd33                0
4                      60.475833  65d75cb9e09e67e025e8cd34                0
5                      28.994825  65d75ce1e09e67e025e8cd35                0
6                      47.167835  65d75d08e09e67e025e8cd36                0
7                      26.017118  65d75d4ce09e67e025e8cd37                0
8                        35.5563  65d75d80e09e67e025e8cd38                0
9                      20.817606  65d75da9e09e67e025e8cd39                0
10                     29.036553  65d75dd5e09e67e025e8cd3a                0
11                     27.722822  65d75dfae09e67e025e8cd3b                0

[12 rows x 422 columns]

In [4]:
query = ("Select child_id_1, child.Longitude, child.Latitude, ((min(driving_distance) - avg(driving_distance)) / std(driving_distance)) as z_score "
         "from locationdata ld "
         "join child on child.child_id = ld.child_id_1 "
         "where child_id_2 is NULL and ei_id_2 is NULL "
         "group by child_id_1 "
         "order by z_score asc")
cursor.execute(query)

child_ids = cursor.fetchall()

data_list = []
for row in child_ids:
    data = {}
    data["id"] = row[0]
    data["longitude"] = row[1]
    data["latitude"] = row[2]
    child1_child_query = ("SELECT child_id_1, child_id_2, driving_distance, driving_time "
                          "FROM locationdata "
                          f"WHERE child_id_1 = '{row[0]}' AND ei_id_1 IS NULL AND ei_id_2 IS NULL")
    cursor.execute(child1_child_query)
    child1_child = cursor.fetchall()
    
    for row2 in child1_child:
        # Add columns with prefixes
        data[f'{row2[1]}_distance'] = row2[2]
        data[f'{row2[1]}_time'] = row2[3]
        
    child_child2_query = ("SELECT child_id_1, child_id_2, driving_distance, driving_time "
                          "FROM locationdata "
                          f"WHERE child_id_2 = '{row[0]}' AND ei_id_1 IS NULL AND ei_id_2 IS NULL")
    cursor.execute(child_child2_query)
    child_child2 = cursor.fetchall()
    
    for row3 in child_child2:
        data[f'{row3[0]}_distance'] = row3[2]
        data[f'{row3[0]}_time'] = row3[3]
    
    child_ei_query = ("SELECT child_id_1, ei_id_1, driving_distance, driving_time "
                      "FROM locationdata "
                      f"WHERE child_id_1 = '{row[0]}' AND child_id_2 IS NULL AND ei_id_2 IS NULL")
    cursor.execute(child_ei_query)
    child_ei = cursor.fetchall()
    
    for row4 in child_ei:
        data[f'{row4[1]}_distance'] = row4[2]
        data[f'{row4[1]}_time'] = row4[3]
        
    data_list.append(data)
        
childDataFrame = pd.DataFrame(data_list)
childDataFrame = childDataFrame.fillna(0)
childDataFrame["assigned"] = ""

print(childDataFrame)

                           id  longitude   latitude  \
0    65d770fde09e67e025e8cd55 -83.063866  36.239059
1    65d8c3ace09e67e025e8cd94 -83.082596  36.288879
2    65d76f7ae09e67e025e8cd52 -82.964569  36.201271
3    65d76dcae09e67e025e8cd4f -82.955826  36.137619
4    65d8c331e09e67e025e8cd93 -82.995255  36.356022
..                        ...        ...        ...
191  65e5df8638f826f292672014 -82.336411  36.343914
192  65d77d33e09e67e025e8cd5f -82.489204  36.390640
193  65e5dbff38f826f29267200c -82.444618  36.412182
194  65e5cb8538f826f292671fec -82.503540  36.385719
195  65e5dd2b38f826f29267200f -82.422379  36.413441

     65e5cfc338f826f292671ff3_distance  65e5cfc338f826f292671ff3_time  \
0                              68.9654                        69.4146
1                              73.6819                        79.3872
2                              53.9873                        71.8542
3                              55.2523                        74.4601
4                              71.0172                        76.3716
..                                 ...                            ...
191                            20.8932                        27.8144
192                            30.0679                        35.4534
193                            29.3000                        38.2279
194                            30.7482                        36.3824
195                            28.0869                        35.2077

     65e5d77e38f826f292672002_distance  65e5d77e38f826f292672002_time  \
0                             46.25650                        43.8594
1                             50.97290                        53.8319
2                             48.89960                        48.0062
3                             53.14520                        55.4981
4                             48.30830                        50.8164
..                                 ...                            ...
191                           19.26670                        25.7035
192                            9.66256                        13.8306
193                            8.01056                        13.6588
194                           10.34280                        14.7596
195                            7.88857                        11.6498

     65d780cee09e67e025e8cd64_distance  65d780cee09e67e025e8cd64_time  \
0                              35.6106                        42.3475
1                              40.3425                        52.4207
2                              29.1647                        37.4605
3                              30.4297                        40.0664
4                              39.2591                        54.4917
..                                 ...                            ...
191                            13.2238                        24.7214
192                            12.0169                        20.3077
193                            15.0779                        25.6415
194                            13.5063                        21.4647
195                            13.8649                        22.6213

     65d78173e09e67e025e8cd65_distance  ...  65d75da9e09e67e025e8cd39_time  \
0                              35.6106  ...                       50.48860
1                              40.3425  ...                       60.11300
2                              29.1647  ...                       54.02630
3                              30.4297  ...                       57.40760
4                              39.2591  ...                       57.18960
..                                 ...  ...                            ...
191                            13.2238  ...                        8.98901
192                            12.0169  ...                       16.45340
193                            15.0779  ...                       19.40250
194                            13.5063  ...                       17.47440
195                            13.8649  ...                       16.38230

     65d75dd5e09e67e025e8cd3a_distance  65d75dd5e09e67e025e8cd3a_time  \
0                             49.30480                        48.1795
1                             54.02130                        57.8039
2                             38.27490                        52.3958
3                             39.47990                        55.7771
4                             51.10480                        54.8806
..                                 ...                            ...
191                            5.17170                        11.0004
192                           10.21130                        14.1444
193                            8.24418                        16.8366
194                           10.89160                        15.1653
195                            7.03114                        13.8163

     65d75dfae09e67e025e8cd3b_distance  65d75dfae09e67e025e8cd3b_time  \
0                              43.1807                        42.4155
1                              47.8971                        52.0399
2                              46.4834                        47.3318
3                              50.6951                        55.0401
4                              36.3299                        47.8875
..                                 ...                            ...
191                            23.1241                        28.1633
192                            13.5953                        17.0150
193                            12.3689                        23.3157
194                            14.2756                        18.0359
195                            12.2600                        21.3528

     65d75e28e09e67e025e8cd3c_distance  65d75e28e09e67e025e8cd3c_time  \
0                             52.40450                        53.1661
1                             57.12090                        62.7905
2                             55.70730                        58.0824
3                             45.17090                        65.6986
4                             54.20450                        59.8672
..                                 ...                            ...
191                            7.26036                        15.9192
192                           13.31090                        19.1310
193                            8.14694                        18.0101
194                           13.99120                        20.1519
195                            6.93389                        14.9898

     65d770fde09e67e025e8cd55_distance  65d770fde09e67e025e8cd55_time  \
0                              0.00000                         0.0000
1                              5.06325                        10.4616
2                              6.90426                        10.1316
3                             11.14980                        17.6236
4                             12.63020                        19.6159
..                                 ...                            ...
191                           51.46450                        50.3322
192                           41.93580                        39.1838
193                           44.22670                        45.5268
194                           42.61610                        40.2048
195                           44.24500                        44.6485

     assigned
0
1
2
3
4
..        ...
191
192
193
194
195

[196 rows x 422 columns]

In [5]:
childDataFrameOrdered = childDataFrame.sort_index(axis=1)
clusterCentersOrdered = clusterCenters.sort_index(axis=1)

In [6]:
def euclidean_distance(childRow, eiRow):
    child_values = childRow.drop(['id', 'assigned']).values
    ei_values = eiRow.drop(['id', 'assignment_count']).values
    return np.sqrt(np.sum((child_values - ei_values) ** 2))

In [7]:
childDataFrameAllocate = childDataFrameOrdered.copy()
for child_index, child_row in childDataFrameOrdered.iterrows():
    if childDataFrameAllocate.loc[child_index, "assigned"] == "":
        availableClusters = clusterCentersOrdered[clusterCentersOrdered['assignment_count'] < 17]
        eiDF = pd.DataFrame(columns=["id", "euclidean_distance"])
        for cluster_index, cluster_row in availableClusters.iterrows():
            e_value = euclidean_distance(child_row, cluster_row)
            eiDF = pd.concat([eiDF, pd.DataFrame({"id": [cluster_row["id"]], "euclidean_distance": [e_value]})], ignore_index=True)
        minValue = eiDF["euclidean_distance"].min()
        minIndex = eiDF["euclidean_distance"].idxmin()
        ei_with_min = eiDF.at[minIndex, "id"]

        same_location_children = childDataFrameOrdered[(childDataFrameOrdered["longitude"] == child_row["longitude"]) & 
                                                      (childDataFrameOrdered["latitude"] == child_row["latitude"])]
        childDataFrameOrdered.loc[same_location_children.index, 'assigned'] = ei_with_min
        
        rows_with_ei_with_min = childDataFrameOrdered[childDataFrameOrdered['assigned'] == ei_with_min]
        count_ei_with_min = len(rows_with_ei_with_min)
        
        clusters_index = clusterCentersOrdered[clusterCentersOrdered['id'] == ei_with_min].index
        clusterCentersOrdered.at[clusters_index[0], 'assignment_count'] = count_ei_with_min
    else:
        print("child already assigned")
    childDataFrameAllocate = childDataFrameOrdered.copy()

print(clusterCentersOrdered)

child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
child already assigned
   65d75a2ce09e67e025e8cd30_distance 65d75a2ce09e67e025e8cd30_time  \
0                           5.621147                     11.083366
1                          31.606157                       41.7229
2                            44.1713                      54.59888
3                           9.180453                     15.768588
4                           40.04035                     60.475833
5                           23.47793                     28.994825
6                          39.430983                     47.167835
7                          17.979091                     26.017118
8                          24.378026                       35.5563
9                          11.897255                     20.817606
10                         18.693104                     29.036553
11                          22.07553                     27.722822

   65d75bb0e09e67e025e8cd31_distance 65d75bb0e09e67e025e8cd31_time  \
0                          48.630337                     53.330616
1                          22.781683                       31.5984
2                           75.64494                     80.304553
3                          53.254432                     58.304616
4                          33.384208                     50.621175
5                          45.702081                     50.909169
6                          62.133713                     68.257035
7                          59.639088                     66.248771
8                          22.757516                       30.5338
9                          48.062615                     55.671815
10                         44.209572                     55.793448
11                         41.125874                     46.607448

   65d75c59e09e67e025e8cd32_distance 65d75c59e09e67e025e8cd32_time  \
0                            42.6039                     49.254821
1                           66.18935                     71.696567
2                          14.904396                     21.816592
3                          33.631616                     41.587874
4                          88.877642                    101.435775
5                          44.220313                     48.530119
6                          32.563713                     42.846609
7                          23.661797                     31.470088
8                          54.713242                     59.862784
9                          50.140108                     59.365969
10                          60.43878                      68.24734
11                         41.269961                      45.72723

   65d75c87e09e67e025e8cd33_distance 65d75c87e09e67e025e8cd33_time  \
0                           7.392633                     14.563384
1                          34.014667                       45.7237
2                          44.200827                      54.69474
3                           8.153557                     14.183062
4                          42.737392                     65.850275
5                          25.191913                      32.39135
6                          41.094778                     50.446178
7                          15.988691                     23.272614
8                          28.369005                     40.109647
9                          12.974492                     22.921661
10                         21.323288                     33.887414
11                         23.782022                       30.9878

   65d75cb9e09e67e025e8cd34_distance 65d75cb9e09e67e025e8cd34_time  ...  \
0                          14.862357                     24.506944  ...
1                          23.433792                     32.337858  ...
2                           58.90778                      72.68132  ...
3                          22.027153                     33.985142  ...
4                          32.975808                     46.432575  ...
5                           34.38211                     42.835931  ...
6                            52.3311                     62.586335  ...
7                            31.1407                     45.374059  ...
8                          19.075426                     27.199642  ...
9                            16.8042                     27.228777  ...
10                         15.790266                     23.117354  ...
11                         32.182413                     41.082052  ...

   65e6044938f826f292672031_distance 65e6044938f826f292672031_time  \
0                          23.796605                     28.860284
1                          35.185533                     47.728083
2                          39.706287                       45.9807
3                          25.432632                     31.617063
4                           60.46575                     77.813075
5                           6.992492                     11.539181
6                          19.701066                     27.200107
7                          30.837712                     39.886447
8                          23.244708                     35.866711
9                          31.533185                     40.284077
10                         36.035184                     45.572424
11                          5.223973                      9.798823

   65e6049b38f826f292672032_distance 65e6049b38f826f292672032_time  \
0                          23.374242                     28.016574
1                          34.759917                     45.976633
2                             39.609                     45.157693
3                          25.335358                     30.794058
4                          59.591067                     76.211358
5                           6.811489                     10.476106
6                          19.603814                     26.377103
7                          30.740453                     39.063435
8                          22.774162                     33.988232
9                          31.375292                     39.289677
10                         35.859112                       44.5266
11                          4.990591                       8.63687

   65ef076606e0a866af56d202_distance 65ef076606e0a866af56d202_time  \
0                            53.6598                     80.066142
1                          36.069737                     57.176033
2                           102.6347                      125.5714
3                          60.344142                     88.114942
4                           14.35409                     24.656125
5                          77.296181                     95.229813
6                          95.891404                    114.913143
7                          69.758759                     99.101976
8                          48.016437                     71.473684
9                          43.749092                     67.080731
10                         45.841828                     67.763584
11                         73.833474                     93.252635

   assignment_count                        id   latitude  longitude
0                17  65d75a2ce09e67e025e8cd30  36.347119 -82.379945
1                15  65d75bb0e09e67e025e8cd31  36.536099 -82.092944
2                17  65d75c59e09e67e025e8cd32  36.278992 -82.970359
3                17  65d75c87e09e67e025e8cd33   36.30504  -82.47012
4                17  65d75cb9e09e67e025e8cd34  36.457192 -81.876901
5                17  65d75ce1e09e67e025e8cd35  36.533388 -82.572813
6                11  65d75d08e09e67e025e8cd36  36.467722 -82.822728
7                17  65d75d4ce09e67e025e8cd37  36.252508 -82.605034
8                17  65d75d80e09e67e025e8cd38  36.557028 -82.219225
9                17  65d75da9e09e67e025e8cd39  36.344158  -82.27384
10               17  65d75dd5e09e67e025e8cd3a  36.357603 -82.197074
11               17  65d75dfae09e67e025e8cd3b  36.526778 -82.550778

[12 rows x 422 columns]

In [8]:
for index, cluster in clusterCentersOrdered.iterrows():
    cluster_id = cluster["id"]
    rows_with_ei_with_min = childDataFrameOrdered[childDataFrameOrdered['assigned'] == cluster_id]
    count_ei_with_min = len(rows_with_ei_with_min)
    print(f"children assigned to this ei: {count_ei_with_min}")

children assigned to this ei: 17
children assigned to this ei: 15
children assigned to this ei: 17
children assigned to this ei: 17
children assigned to this ei: 17
children assigned to this ei: 17
children assigned to this ei: 11
children assigned to this ei: 17
children assigned to this ei: 17
children assigned to this ei: 17
children assigned to this ei: 17
children assigned to this ei: 17

In [9]:
for index, child in childDataFrameOrdered.iterrows():
    child_id = child["id"]
    ei_id = child["assigned"]
    updateQuery = ("Update locationdataalgo8 "
                   "SET assigned = 1 "
                   f"WHERE child_id_1 = '{child_id}' and ei_id_1 = '{ei_id}' and child_id_2 is NULL and ei_id_2 is NULL")
    cursor.execute(updateQuery)
    connection.commit()
    print("Update query pushed")

Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed
Update query pushed