In [1]:
import pandas as pd
import numpy as np
from bson import ObjectId

import mysql.connector

In [2]:
def pullEIDataFromMySQL():
    connection = mysql.connector.connect(
            host = "localhost",
            port = 3306,
            user = 'root',
            database = "expandinghorizons",
            password = "dB79@dG2024!"
    )
    
    cursor = connection.cursor()
    
    query = "SELECT * FROM ei"
    cursor.execute(query)
    
    rows = cursor.fetchall()
    
    df = pd.DataFrame(rows, columns=['_id', 'FirstName', 'LastName', 'ServiceHours', 'Address1', 'City', 'State', 'Zipcode', 'County', 'Longitude', 'Latitude'])
    df["Role"] = "ei"
    
    cursor.close()
    connection.close()
    
    return df

In [3]:
def pullChildDataFromMySQL():
    connection = mysql.connector.connect(
            host = "localhost",
            port = 3306,
            user = 'root',
            database = "expandinghorizons",
            password = "dB79@dG2024!"
    )
    
    cursor = connection.cursor()
    
    query = "SELECT * FROM child"
    cursor.execute(query)
    
    rows = cursor.fetchall()
    
    df = pd.DataFrame(rows, columns=['_id', 'FirstName', 'LastName', 'ServiceHours', 'Address1', 'City', 'State', 'Zipcode', 'County', 'Longitude', 'Latitude'])
    df["Role"] = "child"
    
    cursor.close()
    connection.close()
    
    return df

In [4]:
dataEI = pullEIDataFromMySQL()
dataChild = pullChildDataFromMySQL()
allData = pd.concat([dataEI, dataChild], ignore_index=True)
print(allData)

                          _id FirstName    LastName  ServiceHours  \
0    65d75a2ce09e67e025e8cd30      Mary  Richardson           0.0
1    65d75bb0e09e67e025e8cd31   Kirstin      Tipton           1.0
2    65d75c59e09e67e025e8cd32     Kassi      Knight           0.0
3    65d75c87e09e67e025e8cd33    Rachel      Taylor           0.0
4    65d75cb9e09e67e025e8cd34   Brannan     Vanover           0.0
..                        ...       ...         ...           ...
204  65e6038938f826f29267202f     Judah     Overbay           1.0
205  65e603f238f826f292672030    Bianca       Pogue           1.0
206  65e6044938f826f292672031   Emorett     Woodall           1.0
207  65e6049b38f826f292672032      Remi       Woody           0.5
208  65ef076606e0a866af56d202  Madilynn      Phipps           1.0

                      Address1           City State Zipcode      County  \
0     904 West Hillcrest Drive   Johnson City    TN   37604  Washington
1        151 Valley View Drive       Abingdon    VA   24210  Washington
2    7040 Blue Springs Parkway        Mosheim    TN   37818      Greene
3             502 Nunley Drive   Johnson City    TN   37604  Washington
4     1573 Old Bristol Highway   Elizabethton    TN   37643      Carter
..                         ...            ...   ...     ...         ...
204           1126 Qualls Road      Kingsport    TN   37660    Sullivan
205        1000 Stonegate Road      Kingsport    TN   37660    Sullivan
206           800 Teasel Drive      Kingsport    TN   37660    Sullivan
207      124 Bloomingdale Pike      Kingsport    TN   37660    Sullivan
208    1120 Hubert Taylor Road  Mountain City    TN   37683     Johnson

     Longitude   Latitude   Role
0   -82.372108  36.319485     ei
1   -81.977836  36.722124     ei
2   -82.944595  36.197052     ei
3   -82.415306  36.305367     ei
4   -82.234230  36.391361     ei
..         ...        ...    ...
204 -82.544632  36.584385  child
205 -82.580490  36.562046  child
206 -82.559898  36.563400  child
207 -82.554146  36.559986  child
208 -81.712128  36.476418  child

[209 rows x 12 columns]

In [10]:
connection = mysql.connector.connect(
            host = "localhost",
            port = 3306,
            user = 'root',
            database = "expandinghorizons",
            password = "dB79@dG2024!"
)
    
cursor = connection.cursor()

for index1, row1 in allData.iterrows():
    for index2, row2 in allData.iterrows():
        Role1 = row1["Role"]
        fromID1 = row1["_id"]
        Role2 = row2["Role"]
        fromID2 = row2["_id"]
        
        if fromID1 != fromID2:
            if Role1 == "child":
                if Role2 == "child":
                    query = ("SELECT COUNT(*) from locationdata "
                             f"WHERE child_id_1 = '{fromID1}' and child_id_2 = '{fromID2}' "
                             f"OR child_id_1 = '{fromID2}' and child_id_2 = '{fromID1}'")
                elif Role2 == "ei":
                    query = ("SELECT COUNT(*) from locationdata "
                             f"WHERE child_id_1 = '{fromID1}' and ei_id_1 = '{fromID2}' ")
                
            elif Role1 == "ei":
                if Role2 == "child":
                    query = ("SELECT COUNT(*) from locationdata " 
                             f"WHERE ei_id_1 = '{fromID1}' and child_id_1 = '{fromID2}'")
                if Role2 == "ei":
                    query = ("SELECT COUNT(*) from locationdata "
                             f"WHERE ei_id_1 = '{fromID1}' and ei_id_2 = '{fromID2}' " 
                             f"OR ei_id_1 = '{fromID2}' and ei_id_2 = '{fromID1}'")
            else:
                print("Role Error")
                query = ("")

            cursor.execute(query)
            rows = cursor.fetchall()
            if rows[0][0] != 1:
                print(f"From {row1['FirstName']} {row1['LastName']} to {row2['FirstName']} {row2['LastName']}: {rows[0][0]}")
                print("\n")
    
cursor.close()
connection.close()

In [8]:
connection = mysql.connector.connect(
            host = "localhost",
            port = 3306,
            user = 'root',
            database = "expandinghorizons",
            password = "dB79@dG2024!"
)
    
cursor = connection.cursor()

query = ("Select * from locationdata "
         f"WHERE child_id_1 = '65e5fd6538f826f292672024' or child_id_2 = '65e5fd6538f826f292672024'")
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)
    print(row[1])
    print(row[1] == "65e5fd6538f826f292672024")

    if row[1] == "65e5fd6538f826f292672024":
        insertQuery = ("INSERT INTO locationdata(child_id_1, child_id_2, ei_id_1, ei_id_2, assigned, driving_distance, driving_time) "
                       "VALUES (%s, %s, %s, %s, %s, %s, %s) ")
        cursor.execute(insertQuery, (
            "65e5fe7438f826f292672025", row[2], row[3], row[4], row[5], row[6], row[7]))
        connection.commit()
        print("is inserted in the MySQL database")
        
    elif row[2] == "65e5fd6538f826f292672024":
        insertQuery = ("INSERT INTO locationdata(child_id_1, child_id_2, ei_id_1, ei_id_2, assigned, driving_distance, driving_time) "
                       "VALUES (%s, %s, %s, %s, %s, %s, %s) ")
        cursor.execute(insertQuery, (
            row[1], "65e5fe7438f826f292672025", row[3], row[4], row[5], row[6], row[7]))
        connection.commit()
        print("is inserted in the MySQL database")
    else:
        print("Error")

        
cursor.close()
connection.close()

(1146, '65e5fd6538f826f292672024', None, '65d75a2ce09e67e025e8cd30', None, 0, 12.3468, 19.4323)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(1360, '65e5fd6538f826f292672024', None, '65d75bb0e09e67e025e8cd31', None, 0, 41.5838, 45.2369)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(1565, '65e5fd6538f826f292672024', None, '65d75c59e09e67e025e8cd32', None, 0, 36.3551, 40.8861)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(1769, '65e5fd6538f826f292672024', None, '65d75c87e09e67e025e8cd33', None, 0, 13.9953, 22.6969)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(1972, '65e5fd6538f826f292672024', None, '65d75cb9e09e67e025e8cd34', None, 0, 25.3009, 34.9181)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(2174, '65e5fd6538f826f292672024', None, '65d75ce1e09e67e025e8cd35', None, 0, 9.44552, 15.2209)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(2375, '65e5fd6538f826f292672024', None, '65d75d08e09e67e025e8cd36', None, 0, 6.73524, 11.8292)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(2575, '65e5fd6538f826f292672024', None, '65d75d4ce09e67e025e8cd37', None, 0, 13.1825, 21.7713)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(2774, '65e5fd6538f826f292672024', None, '65d75d80e09e67e025e8cd38', None, 0, 25.0482, 28.7617)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(2972, '65e5fd6538f826f292672024', None, '65d75da9e09e67e025e8cd39', None, 0, 14.8129, 20.1369)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(3156, '65e5fd6538f826f292672024', None, '65d75dd5e09e67e025e8cd3a', None, 0, 11.3917, 17.8279)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(3351, '65e5fd6538f826f292672024', None, '65d75dfae09e67e025e8cd3b', None, 0, 10.8842, 16.4812)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(3545, '65e5fd6538f826f292672024', None, '65d75e28e09e67e025e8cd3c', None, 0, 14.4913, 22.8145)
65e5fd6538f826f292672024
True
is inserted in the MySQL database
(3738, '65d76430e09e67e025e8cd43', '65e5fd6538f826f292672024', None, None, 0, 29.2483, 36.9644)
65d76430e09e67e025e8cd43
False
is inserted in the MySQL database
(3929, '65d764dde09e67e025e8cd44', '65e5fd6538f826f292672024', None, None, 0, 22.5827, 26.2734)
65d764dde09e67e025e8cd44
False
is inserted in the MySQL database
(4118, '65d766f6e09e67e025e8cd45', '65e5fd6538f826f292672024', None, None, 0, 41.4718, 57.0729)
65d766f6e09e67e025e8cd45
False
is inserted in the MySQL database
(4308, '65d76799e09e67e025e8cd46', '65e5fd6538f826f292672024', None, None, 0, 20.5947, 28.2509)
65d76799e09e67e025e8cd46
False
is inserted in the MySQL database
(4498, '65d76829e09e67e025e8cd47', '65e5fd6538f826f292672024', None, None, 0, 56.6058, 78.8458)
65d76829e09e67e025e8cd47
False
is inserted in the MySQL database
(4686, '65d76956e09e67e025e8cd48', '65e5fd6538f826f292672024', None, None, 0, 40.8991, 52.4935)
65d76956e09e67e025e8cd48
False
is inserted in the MySQL database
(4817, '65d769fde09e67e025e8cd49', '65e5fd6538f826f292672024', None, None, 0, 42.5753, 53.6715)
65d769fde09e67e025e8cd49
False
is inserted in the MySQL database
(5002, '65d76b1ee09e67e025e8cd4a', '65e5fd6538f826f292672024', None, None, 0, 38.4535, 46.3536)
65d76b1ee09e67e025e8cd4a
False
is inserted in the MySQL database
(5243, '65d76bb7e09e67e025e8cd4b', '65e5fd6538f826f292672024', None, None, 0, 40.4403, 48.3812)
65d76bb7e09e67e025e8cd4b
False
is inserted in the MySQL database
(5425, '65d76c25e09e67e025e8cd4c', '65e5fd6538f826f292672024', None, None, 0, 38.1292, 47.1946)
65d76c25e09e67e025e8cd4c
False
is inserted in the MySQL database
(5608, '65d76ca3e09e67e025e8cd4d', '65e5fd6538f826f292672024', None, None, 0, 36.1808, 41.6514)
65d76ca3e09e67e025e8cd4d
False
is inserted in the MySQL database
(5789, '65d76d38e09e67e025e8cd4e', '65e5fd6538f826f292672024', None, None, 0, 54.3778, 64.0442)
65d76d38e09e67e025e8cd4e
False
is inserted in the MySQL database
(5896, '65d76dcae09e67e025e8cd4f', '65e5fd6538f826f292672024', None, None, 0, 46.1133, 50.2889)
65d76dcae09e67e025e8cd4f
False
is inserted in the MySQL database
(6075, '65d76e6de09e67e025e8cd50', '65e5fd6538f826f292672024', None, None, 0, 36.7312, 43.8821)
65d76e6de09e67e025e8cd50
False
is inserted in the MySQL database
(6332, '65d76f01e09e67e025e8cd51', '65e5fd6538f826f292672024', None, None, 0, 45.2185, 51.393)
65d76f01e09e67e025e8cd51
False
is inserted in the MySQL database
(6508, '65d76f7ae09e67e025e8cd52', '65e5fd6538f826f292672024', None, None, 0, 41.8678, 42.7969)
65d76f7ae09e67e025e8cd52
False
is inserted in the MySQL database
(6623, '65d76ff5e09e67e025e8cd53', '65e5fd6538f826f292672024', None, None, 0, 38.5225, 47.5678)
65d76ff5e09e67e025e8cd53
False
is inserted in the MySQL database
(6798, '65d77069e09e67e025e8cd54', '65e5fd6538f826f292672024', None, None, 0, 39.4108, 49.2867)
65d77069e09e67e025e8cd54
False
is inserted in the MySQL database
(7038, '65d770fde09e67e025e8cd55', '65e5fd6538f826f292672024', None, None, 0, 39.2246, 38.6501)
65d770fde09e67e025e8cd55
False
is inserted in the MySQL database
(7210, '65d771a3e09e67e025e8cd5a', '65e5fd6538f826f292672024', None, None, 0, 12.4766, 21.3498)
65d771a3e09e67e025e8cd5a
False
is inserted in the MySQL database
(7383, '65d7725be09e67e025e8cd5b', '65e5fd6538f826f292672024', None, None, 0, 15.9317, 26.552)
65d7725be09e67e025e8cd5b
False
is inserted in the MySQL database
(7552, '65d772ffe09e67e025e8cd5c', '65e5fd6538f826f292672024', None, None, 0, 27.7419, 32.2896)
65d772ffe09e67e025e8cd5c
False
is inserted in the MySQL database
(7720, '65d773a1e09e67e025e8cd5d', '65e5fd6538f826f292672024', None, None, 0, 19.5032, 26.5762)
65d773a1e09e67e025e8cd5d
False
is inserted in the MySQL database
(7890, '65d77c78e09e67e025e8cd5e', '65e5fd6538f826f292672024', None, None, 0, 11.0193, 17.2733)
65d77c78e09e67e025e8cd5e
False
is inserted in the MySQL database
(8057, '65d77d33e09e67e025e8cd5f', '65e5fd6538f826f292672024', None, None, 0, 3.11187, 6.55365)
65d77d33e09e67e025e8cd5f
False
is inserted in the MySQL database
(8227, '65d77ed6e09e67e025e8cd60', '65e5fd6538f826f292672024', None, None, 0, 30.6113, 42.6903)
65d77ed6e09e67e025e8cd60
False
is inserted in the MySQL database
(8396, '65d77f4de09e67e025e8cd61', '65e5fd6538f826f292672024', None, None, 0, 9.38766, 17.447)
65d77f4de09e67e025e8cd61
False
is inserted in the MySQL database
(8625, '65d77fdce09e67e025e8cd62', '65e5fd6538f826f292672024', None, None, 0, 5.8059, 13.1989)
65d77fdce09e67e025e8cd62
False
is inserted in the MySQL database
(8626, '65d78068e09e67e025e8cd63', '65e5fd6538f826f292672024', None, None, 0, 5.8059, 13.1989)
65d78068e09e67e025e8cd63
False
is inserted in the MySQL database
(8949, '65d780cee09e67e025e8cd64', '65e5fd6538f826f292672024', None, None, 0, 15.4366, 26.0682)
65d780cee09e67e025e8cd64
False
is inserted in the MySQL database
(8950, '65d78173e09e67e025e8cd65', '65e5fd6538f826f292672024', None, None, 0, 15.4366, 26.0682)
65d78173e09e67e025e8cd65
False
is inserted in the MySQL database
(9214, '65d78213e09e67e025e8cd66', '65e5fd6538f826f292672024', None, None, 0, 10.4583, 21.6022)
65d78213e09e67e025e8cd66
False
is inserted in the MySQL database
(9374, '65d782a0e09e67e025e8cd67', '65e5fd6538f826f292672024', None, None, 0, 9.91574, 16.861)
65d782a0e09e67e025e8cd67
False
is inserted in the MySQL database
(9531, '65d7830de09e67e025e8cd68', '65e5fd6538f826f292672024', None, None, 0, 14.1049, 23.0663)
65d7830de09e67e025e8cd68
False
is inserted in the MySQL database
(9688, '65d78390e09e67e025e8cd69', '65e5fd6538f826f292672024', None, None, 0, 17.6974, 29.3489)
65d78390e09e67e025e8cd69
False
is inserted in the MySQL database
(9905, '65d7842ee09e67e025e8cd6a', '65e5fd6538f826f292672024', None, None, 0, 12.2089, 19.0822)
65d7842ee09e67e025e8cd6a
False
is inserted in the MySQL database
(9906, '65d78493e09e67e025e8cd6b', '65e5fd6538f826f292672024', None, None, 0, 12.2089, 19.0822)
65d78493e09e67e025e8cd6b
False
is inserted in the MySQL database
(10164, '65d7852de09e67e025e8cd6c', '65e5fd6538f826f292672024', None, None, 0, 13.7575, 19.37)
65d7852de09e67e025e8cd6c
False
is inserted in the MySQL database
(10268, '65d785dee09e67e025e8cd6d', '65e5fd6538f826f292672024', None, None, 0, 54.0429, 73.2755)
65d785dee09e67e025e8cd6d
False
is inserted in the MySQL database
(10473, '65d7864fe09e67e025e8cd6e', '65e5fd6538f826f292672024', None, None, 0, 54.7959, 76.2708)
65d7864fe09e67e025e8cd6e
False
is inserted in the MySQL database
(10622, '65d786e0e09e67e025e8cd6f', '65e5fd6538f826f292672024', None, None, 0, 67.9426, 78.4538)
65d786e0e09e67e025e8cd6f
False
is inserted in the MySQL database
(10776, '65d78775e09e67e025e8cd70', '65e5fd6538f826f292672024', None, None, 0, 55.6847, 77.5141)
65d78775e09e67e025e8cd70
False
is inserted in the MySQL database
(10971, '65d787f5e09e67e025e8cd71', '65e5fd6538f826f292672024', None, None, 0, 60.9958, 86.9819)
65d787f5e09e67e025e8cd71
False
is inserted in the MySQL database
(10972, '65d7886ae09e67e025e8cd72', '65e5fd6538f826f292672024', None, None, 0, 60.9958, 86.9819)
65d7886ae09e67e025e8cd72
False
is inserted in the MySQL database
(11220, '65d788d6e09e67e025e8cd73', '65e5fd6538f826f292672024', None, None, 0, 48.7607, 66.5055)
65d788d6e09e67e025e8cd73
False
is inserted in the MySQL database
(11365, '65d89f0de09e67e025e8cd74', '65e5fd6538f826f292672024', None, None, 0, 46.1348, 62.5135)
65d89f0de09e67e025e8cd74
False
is inserted in the MySQL database
(11512, '65d8b217e09e67e025e8cd75', '65e5fd6538f826f292672024', None, None, 0, 45.9238, 62.3068)
65d8b217e09e67e025e8cd75
False
is inserted in the MySQL database
(11657, '65d8b2bce09e67e025e8cd76', '65e5fd6538f826f292672024', None, None, 0, 15.8287, 22.6234)
65d8b2bce09e67e025e8cd76
False
is inserted in the MySQL database
(11802, '65d8b327e09e67e025e8cd77', '65e5fd6538f826f292672024', None, None, 0, 13.9604, 19.8711)
65d8b327e09e67e025e8cd77
False
is inserted in the MySQL database
(11944, '65d8b3f9e09e67e025e8cd78', '65e5fd6538f826f292672024', None, None, 0, 16.8762, 23.4876)
65d8b3f9e09e67e025e8cd78
False
is inserted in the MySQL database
(12085, '65d8b4e2e09e67e025e8cd79', '65e5fd6538f826f292672024', None, None, 0, 5.24693, 11.1807)
65d8b4e2e09e67e025e8cd79
False
is inserted in the MySQL database
(12227, '65d8b5cae09e67e025e8cd7a', '65e5fd6538f826f292672024', None, None, 0, 18.4183, 23.9775)
65d8b5cae09e67e025e8cd7a
False
is inserted in the MySQL database
(12345, '65d8b679e09e67e025e8cd7b', '65e5fd6538f826f292672024', None, None, 0, 14.2212, 19.7328)
65d8b679e09e67e025e8cd7b
False
is inserted in the MySQL database
(12346, '65d8b6f8e09e67e025e8cd7c', '65e5fd6538f826f292672024', None, None, 0, 14.2212, 19.7328)
65d8b6f8e09e67e025e8cd7c
False
is inserted in the MySQL database
(12671, '65d8b770e09e67e025e8cd7d', '65e5fd6538f826f292672024', None, None, 0, 15.3718, 19.9044)
65d8b770e09e67e025e8cd7d
False
is inserted in the MySQL database
(12672, '65d8b7d1e09e67e025e8cd7e', '65e5fd6538f826f292672024', None, None, 0, 15.3718, 19.9044)
65d8b7d1e09e67e025e8cd7e
False
is inserted in the MySQL database
(12989, '65d8b845e09e67e025e8cd7f', '65e5fd6538f826f292672024', None, None, 0, 14.4363, 19.1305)
65d8b845e09e67e025e8cd7f
False
is inserted in the MySQL database
(12990, '65d8b8b7e09e67e025e8cd80', '65e5fd6538f826f292672024', None, None, 0, 14.4363, 19.1305)
65d8b8b7e09e67e025e8cd80
False
is inserted in the MySQL database
(12991, '65d8b9c0e09e67e025e8cd82', '65e5fd6538f826f292672024', None, None, 0, 14.4363, 19.1305)
65d8b9c0e09e67e025e8cd82
False
is inserted in the MySQL database
(12992, '65e5e60a38f826f29267201e', '65e5fd6538f826f292672024', None, None, 0, 14.4363, 19.1305)
65e5e60a38f826f29267201e
False
is inserted in the MySQL database
(13453, '65d8b945e09e67e025e8cd81', '65e5fd6538f826f292672024', None, None, 0, 7.10436, 13.0933)
65d8b945e09e67e025e8cd81
False
is inserted in the MySQL database
(13582, '65d8ba3ae09e67e025e8cd83', '65e5fd6538f826f292672024', None, None, 0, 17.7629, 25.3114)
65d8ba3ae09e67e025e8cd83
False
is inserted in the MySQL database
(13712, '65d8baa4e09e67e025e8cd84', '65e5fd6538f826f292672024', None, None, 0, 17.0014, 23.1174)
65d8baa4e09e67e025e8cd84
False
is inserted in the MySQL database
(13843, '65d8bb48e09e67e025e8cd85', '65e5fd6538f826f292672024', None, None, 0, 18.0624, 25.5618)
65d8bb48e09e67e025e8cd85
False
is inserted in the MySQL database
(13992, '65d8bc1ee09e67e025e8cd86', '65e5fd6538f826f292672024', None, None, 0, 40.4913, 49.5463)
65d8bc1ee09e67e025e8cd86
False
is inserted in the MySQL database
(13993, '65d8be2ae09e67e025e8cd8a', '65e5fd6538f826f292672024', None, None, 0, 40.4913, 49.5463)
65d8be2ae09e67e025e8cd8a
False
is inserted in the MySQL database
(13994, '65d8c01ee09e67e025e8cd8d', '65e5fd6538f826f292672024', None, None, 0, 40.4913, 49.5463)
65d8c01ee09e67e025e8cd8d
False
is inserted in the MySQL database
(14350, '65d8bcaae09e67e025e8cd87', '65e5fd6538f826f292672024', None, None, 0, 18.1276, 26.3802)
65d8bcaae09e67e025e8cd87
False
is inserted in the MySQL database
(14475, '65d8bd34e09e67e025e8cd88', '65e5fd6538f826f292672024', None, None, 0, 14.175, 19.512)
65d8bd34e09e67e025e8cd88
False
is inserted in the MySQL database
(14600, '65d8bdb5e09e67e025e8cd89', '65e5fd6538f826f292672024', None, None, 0, 19.6467, 31.9208)
65d8bdb5e09e67e025e8cd89
False
is inserted in the MySQL database
(14729, '65d8bec4e09e67e025e8cd8b', '65e5fd6538f826f292672024', None, None, 0, 34.1529, 44.3954)
65d8bec4e09e67e025e8cd8b
False
is inserted in the MySQL database
(14730, '65d8bf9ce09e67e025e8cd8c', '65e5fd6538f826f292672024', None, None, 0, 34.1529, 44.3954)
65d8bf9ce09e67e025e8cd8c
False
is inserted in the MySQL database
(14966, '65d8c087e09e67e025e8cd8e', '65e5fd6538f826f292672024', None, None, 0, 43.9104, 48.4164)
65d8c087e09e67e025e8cd8e
False
is inserted in the MySQL database
(15081, '65d8c149e09e67e025e8cd8f', '65e5fd6538f826f292672024', None, None, 0, 47.3702, 57.2562)
65d8c149e09e67e025e8cd8f
False
is inserted in the MySQL database
(15318, '65d8c1c1e09e67e025e8cd90', '65e5fd6538f826f292672024', None, None, 0, 18.9375, 25.2261)
65d8c1c1e09e67e025e8cd90
False
is inserted in the MySQL database
(15435, '65d8c240e09e67e025e8cd91', '65e5fd6538f826f292672024', None, None, 0, 25.4724, 34.1932)
65d8c240e09e67e025e8cd91
False
is inserted in the MySQL database
(15551, '65d8c2bde09e67e025e8cd92', '65e5fd6538f826f292672024', None, None, 0, 18.877, 25.8923)
65d8c2bde09e67e025e8cd92
False
is inserted in the MySQL database
(15666, '65d8c331e09e67e025e8cd93', '65e5fd6538f826f292672024', None, None, 0, 41.2764, 45.6071)
65d8c331e09e67e025e8cd93
False
is inserted in the MySQL database
(15780, '65d8c3ace09e67e025e8cd94', '65e5fd6538f826f292672024', None, None, 0, 43.9411, 48.6226)
65d8c3ace09e67e025e8cd94
False
is inserted in the MySQL database
(15893, '65d8c44ee09e67e025e8cd95', '65e5fd6538f826f292672024', None, None, 0, 31.8073, 39.8208)
65d8c44ee09e67e025e8cd95
False
is inserted in the MySQL database
(16005, '65d8c4cde09e67e025e8cd96', '65e5fd6538f826f292672024', None, None, 0, 17.5799, 25.2515)
65d8c4cde09e67e025e8cd96
False
is inserted in the MySQL database
(16116, '65d8c532e09e67e025e8cd97', '65e5fd6538f826f292672024', None, None, 0, 43.3448, 47.5806)
65d8c532e09e67e025e8cd97
False
is inserted in the MySQL database
(16326, '65d8c590e09e67e025e8cd98', '65e5fd6538f826f292672024', None, None, 0, 18.1953, 26.5972)
65d8c590e09e67e025e8cd98
False
is inserted in the MySQL database
(16327, '65e5e3c238f826f29267201c', '65e5fd6538f826f292672024', None, None, 0, 18.1953, 26.5972)
65e5e3c238f826f29267201c
False
is inserted in the MySQL database
(16443, '65d8c627e09e67e025e8cd99', '65e5fd6538f826f292672024', None, None, 0, 18.6358, 25.2924)
65d8c627e09e67e025e8cd99
False
is inserted in the MySQL database
(16549, '65d8c6f1e09e67e025e8cd9a', '65e5fd6538f826f292672024', None, None, 0, 20.9988, 28.8464)
65d8c6f1e09e67e025e8cd9a
False
is inserted in the MySQL database
(16655, '65d8c9a4e09e67e025e8cd9b', '65e5fd6538f826f292672024', None, None, 0, 11.5959, 19.7734)
65d8c9a4e09e67e025e8cd9b
False
is inserted in the MySQL database
(16760, '65d8ca17e09e67e025e8cd9c', '65e5fd6538f826f292672024', None, None, 0, 17.9582, 21.2717)
65d8ca17e09e67e025e8cd9c
False
is inserted in the MySQL database
(16864, '65d8cacce09e67e025e8cd9d', '65e5fd6538f826f292672024', None, None, 0, 16.6655, 18.9742)
65d8cacce09e67e025e8cd9d
False
is inserted in the MySQL database
(16967, '65d8cb39e09e67e025e8cd9e', '65e5fd6538f826f292672024', None, None, 0, 14.7147, 27.7769)
65d8cb39e09e67e025e8cd9e
False
is inserted in the MySQL database
(17070, '65d8cbcee09e67e025e8cd9f', '65e5fd6538f826f292672024', None, None, 0, 15.3152, 26.6924)
65d8cbcee09e67e025e8cd9f
False
is inserted in the MySQL database
(17172, '65d8cc36e09e67e025e8cda0', '65e5fd6538f826f292672024', None, None, 0, 21.6043, 25.9729)
65d8cc36e09e67e025e8cda0
False
is inserted in the MySQL database
(17273, '65d8ccefe09e67e025e8cda1', '65e5fd6538f826f292672024', None, None, 0, 16.8928, 27.6756)
65d8ccefe09e67e025e8cda1
False
is inserted in the MySQL database
(17373, '65d8cd61e09e67e025e8cda2', '65e5fd6538f826f292672024', None, None, 0, 16.0948, 27.9152)
65d8cd61e09e67e025e8cda2
False
is inserted in the MySQL database
(17472, '65d8cddbe09e67e025e8cda3', '65e5fd6538f826f292672024', None, None, 0, 15.9179, 28.1985)
65d8cddbe09e67e025e8cda3
False
is inserted in the MySQL database
(17568, '65d8ce46e09e67e025e8cda4', '65e5fd6538f826f292672024', None, None, 0, 12.9394, 23.4996)
65d8ce46e09e67e025e8cda4
False
is inserted in the MySQL database
(17665, '65d8ceb4e09e67e025e8cda5', '65e5fd6538f826f292672024', None, None, 0, 19.579, 30.659)
65d8ceb4e09e67e025e8cda5
False
is inserted in the MySQL database
(17762, '65d8cf15e09e67e025e8cda6', '65e5fd6538f826f292672024', None, None, 0, 29.8424, 44.7381)
65d8cf15e09e67e025e8cda6
False
is inserted in the MySQL database
(17857, '65d8cf94e09e67e025e8cda7', '65e5fd6538f826f292672024', None, None, 0, 20.0356, 33.5694)
65d8cf94e09e67e025e8cda7
False
is inserted in the MySQL database
(17951, '65d8cff4e09e67e025e8cda8', '65e5fd6538f826f292672024', None, None, 0, 29.6912, 47.4888)
65d8cff4e09e67e025e8cda8
False
is inserted in the MySQL database
(18044, '65d8d05fe09e67e025e8cda9', '65e5fd6538f826f292672024', None, None, 0, 25.5202, 41.8874)
65d8d05fe09e67e025e8cda9
False
is inserted in the MySQL database
(18136, '65d8d0bee09e67e025e8cdaa', '65e5fd6538f826f292672024', None, None, 0, 14.6989, 27.168)
65d8d0bee09e67e025e8cdaa
False
is inserted in the MySQL database
(18227, '65d8d17be09e67e025e8cdab', '65e5fd6538f826f292672024', None, None, 0, 26.7455, 33.8812)
65d8d17be09e67e025e8cdab
False
is inserted in the MySQL database
(18317, '65d8d1dae09e67e025e8cdac', '65e5fd6538f826f292672024', None, None, 0, 25.4445, 29.9974)
65d8d1dae09e67e025e8cdac
False
is inserted in the MySQL database
(18474, '65d8d255e09e67e025e8cdad', '65e5fd6538f826f292672024', None, None, 0, 20.0252, 26.7976)
65d8d255e09e67e025e8cdad
False
is inserted in the MySQL database
(18475, '65d8d8fee09e67e025e8cdba', '65e5fd6538f826f292672024', None, None, 0, 20.0252, 26.7976)
65d8d8fee09e67e025e8cdba
False
is inserted in the MySQL database
(18578, '65d8d32ae09e67e025e8cdae', '65e5fd6538f826f292672024', None, None, 0, 60.8871, 69.3779)
65d8d32ae09e67e025e8cdae
False
is inserted in the MySQL database
(18664, '65d8d3f8e09e67e025e8cdaf', '65e5fd6538f826f292672024', None, None, 0, 27.9417, 36.6012)
65d8d3f8e09e67e025e8cdaf
False
is inserted in the MySQL database
(18720, '65d8d451e09e67e025e8cdb0', '65e5fd6538f826f292672024', None, None, 0, 20.1276, 25.9138)
65d8d451e09e67e025e8cdb0
False
is inserted in the MySQL database
(18807, '65d8d4b3e09e67e025e8cdb1', '65e5fd6538f826f292672024', None, None, 0, 22.8597, 33.7924)
65d8d4b3e09e67e025e8cdb1
False
is inserted in the MySQL database
(18893, '65d8d56ae09e67e025e8cdb2', '65e5fd6538f826f292672024', None, None, 0, 22.63, 29.5424)
65d8d56ae09e67e025e8cdb2
False