In [1]:
import mysql.connector

In [2]:
# Connection details
connection1 = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    database="expanding_horizons",
    password="dB79*dG2024!"
)

cursor1 = connection1.cursor()

In [3]:
try:
    # Loop to create 51 duplicate tables
    for index in range(1, 52):  # Generate indices from 1 to 51
        # Generate the table name based on the naming convention
        if index < 10:
            table_name = f"ld_0{index}"
        else:
            table_name = f"ld_{index}"
        
        # SQL to create a duplicate table
        sql_create_table = f"CREATE TABLE {table_name} LIKE locationdata"
        sql_copy_data = f"INSERT INTO {table_name} SELECT * FROM locationdata"

        # Execute the SQL commands
        cursor1.execute(sql_create_table)
        cursor1.execute(sql_copy_data)
        print(f"Table '{table_name}' created and data copied successfully.")

    # Commit changes
    connection1.commit()

except mysql.connector.Error as err:
    print(f"Error: {err}")
    connection1.rollback()

finally:
    # Close cursor and connection
    cursor1.close()
    connection1.close()
    print("Connection closed.")

Table 'ld_01' created and data copied successfully.
Table 'ld_02' created and data copied successfully.
Table 'ld_03' created and data copied successfully.
Table 'ld_04' created and data copied successfully.
Table 'ld_05' created and data copied successfully.
Table 'ld_06' created and data copied successfully.
Table 'ld_07' created and data copied successfully.
Table 'ld_08' created and data copied successfully.
Table 'ld_09' created and data copied successfully.
Table 'ld_10' created and data copied successfully.
Table 'ld_11' created and data copied successfully.
Table 'ld_12' created and data copied successfully.
Table 'ld_13' created and data copied successfully.
Table 'ld_14' created and data copied successfully.
Table 'ld_15' created and data copied successfully.
Table 'ld_16' created and data copied successfully.
Table 'ld_17' created and data copied successfully.
Table 'ld_18' created and data copied successfully.
Table 'ld_19' created and data copied successfully.
Table 'ld_20' created and data copied successfully.
Table 'ld_21' created and data copied successfully.
Table 'ld_22' created and data copied successfully.
Table 'ld_23' created and data copied successfully.
Table 'ld_24' created and data copied successfully.
Table 'ld_25' created and data copied successfully.
Table 'ld_26' created and data copied successfully.
Table 'ld_27' created and data copied successfully.
Table 'ld_28' created and data copied successfully.
Table 'ld_29' created and data copied successfully.
Table 'ld_30' created and data copied successfully.
Table 'ld_31' created and data copied successfully.
Table 'ld_32' created and data copied successfully.
Table 'ld_33' created and data copied successfully.
Table 'ld_34' created and data copied successfully.
Table 'ld_35' created and data copied successfully.
Table 'ld_36' created and data copied successfully.
Table 'ld_37' created and data copied successfully.
Table 'ld_38' created and data copied successfully.
Table 'ld_39' created and data copied successfully.
Table 'ld_40' created and data copied successfully.
Table 'ld_41' created and data copied successfully.
Table 'ld_42' created and data copied successfully.
Table 'ld_43' created and data copied successfully.
Table 'ld_44' created and data copied successfully.
Table 'ld_45' created and data copied successfully.
Table 'ld_46' created and data copied successfully.
Table 'ld_47' created and data copied successfully.
Table 'ld_48' created and data copied successfully.
Table 'ld_49' created and data copied successfully.
Table 'ld_50' created and data copied successfully.
Table 'ld_51' created and data copied successfully.
Connection closed.